doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/main-menu.css')
    link(rel='stylesheet', href=secondcss)
  body
    div(class='main-container')
      div(class='menu menu-pos')
        button(class=(pagename==='index' ? 'menu-item active-item' : 'menu-item')) 设备总览
        button(class=(pagename==='query' ? 'menu-item active-item' : 'menu-item')) 数据查询
      div(class='container')
        block container
    script(src='/javascripts/index-script.js')
    block scriptfile